

$primary: #7C8C58;
$primary-light: #ffffff;
$primary-dark: #4C592E;

$secondary: #2a3747;
$secondary-light: #546172;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #D9D9D8;
$secondary: #fff;

$highlight: #925B53;